/* Reset */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Grid */
@import url('./grid.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Universal Styles */
html {
	font-size: 16px;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
	font-size: inherit;
	line-height: 1.5;
	font-weight: 300;
	color: #666;
}

a {
	text-decoration: none;
	color: rgb(60, 60, 60);
	transition: 300ms;
}
a:hover {
	/* text-decoration: underline; */
	color: black;
}

p {
	margin-top: 0;
	margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: 'Bebas Neue', cursive;
	color: black;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: .04rem;
}

img {
	border-style: none;
	max-width: 100%;
	display: block;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

address {
	font-style: normal;
}

/* Buttons */
.btn {
	display: inline-block;
	color: white;
	background-color: #d13a3a;
	padding: 7px 18px;
	border: none;
	text-decoration: none;
}

.btn:hover {
	text-decoration: none;
	background-color: #c94c4c;
	color: white;
}

.btn-line {
	background-color: transparent;
	border: 2px solid #c94c4c;
}

/* To The Top */
#top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	padding: 10px;
	background: #c6ab80;
}
#top .arrow-icon {
	fill: #fff;
}

/* Header */
#header {
	background-color: white;
	padding: 20px 0;
}

#header [class^='container'] {
	display: inherit;
	text-align: center;
	align-items: center;
}

@media (min-width: 576px) {
	#header {
		display: flex;
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

/* Header Brand */
#header .brand {
	width: 2rem;
	height: 2rem;
	margin-bottom: 0.7rem;
	display: inline-block;
	background: url(../img/logo-xs-red.svg) no-repeat center center;
	background-size: cover;
}

@media (min-width: 576px) {
	#header .brand {
		margin-bottom: 0;
		background-image: url(../img/logo-xs-white.svg);
	}
}

/* Header Navigation */
#header nav {
	margin: 0 -10px;
}

#header nav ul {
	display: inline-flex;
}

#header nav a {
	padding: 10px;
}

@media (min-width: 576px) {
	#header nav {
		margin-left: auto;
	}

	#header nav a {
		color: #ffffffc2;
	}

	#header nav a:hover {
		color: white;
	}
}

@media (min-width: 768px) {
	#header nav {
		margin-left: 40px;
	}
}

/* Header Search */
#header form {
	display: none;
	margin-left: auto;
	position: relative;
}

#header [type*="search"] {
	outline: none;
	border: none;
	border-radius: 50px;
	padding: 8px 16px;
	min-width: 260px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

#header ::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

#header button {
	position: absolute;
	top: -1px;
	right: 5px;
	width: 36px;
	height: 36px;
	padding: 8px;
	border: none;
	background: transparent;
	cursor: pointer;
	opacity: .8;
	transition: 300ms;
	color: white;
}

#header button:hover {
	opacity: 1;
}

@media (min-width: 768px) {
	#header form {
		display: block;
	}
}

/* Page Banner */
.banner {
	background: url(../img/banner-image.jpg) no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.banner-header {
	color: white;
	text-align: center;
}

.banner-header h1 {
	font-size: 2rem;
	color: #c6ab80;
}

.banner-header p {
	font-weight: 200;
	line-height: 1.8rem;
}

@media (min-width: 425px) {
	.banner {
		padding: 40px;
	}

	.banner-header p {
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}
}

@media (min-width: 576px) {
	.banner {
		min-height: 600px;
		padding-top: 80px;
	}

	.banner-header {
		width: 600px;
	}

	.banner-header h1 {
		font-size: 3rem;
	}

	.banner-header p {
		line-height: 2rem;
	}

	.banner-header .btn {
		font-size: 1.2rem;
		padding: 10px 24px;
	}
}

/* Sections */
[class$="-section"] {
	padding: 30px 0 10px;
}

@media (min-width: 576px) {
	[class$="-section"] {
		padding: 50px 0 30px;
	}
}

/* Section Header */
.section-header {
	margin-bottom: 2rem;
	text-align: center;
}

.section-header::after {
	content: " ";
	display: block;
	width: 30px;
	width: 50px;
	height: 15px;
	background: url(../img/hr.png) no-repeat center center;
	margin: 0 auto;
}

.section-header h2 {
	margin-bottom: .75rem;
}

.section-header p {
	font-size: 1.2rem;
}

@media (min-width: 576px) {
	.section-header {
		margin-bottom: 3.5rem;
	}
}

/* Services Section */
.service-box {
	margin-bottom: 2rem;
	text-align: center;
}

.service-box img {
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 576px) {
	.service-box {
		margin-bottom: 3.5rem;
	}
}

/* Teams Section */
.team-section {
	background-color: #eee;
}

.team-box {
	margin-bottom: 2.5rem;
	text-align: center;
}

.team-box img {
	width: 300px;
	height: auto;
	border-radius: 300px;
	margin: 0 auto 1.5rem;
}

.team-box h3 {
	margin-bottom: .2rem;
}

.team-box p {
	margin-bottom: 1rem;
}

.team-box a {
	margin: 0 5px;
	width: 40px;
	height: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #c6ab80;
	color: white;
}
.team-box a:hover {
	color: #394149;
}

/* Clients Section */
.clients-section img {
	margin-bottom: 2rem;
}

/* Contact */
.contact-section {
	background-color: #394149;
	color: #ccc;
	text-align: center;
}

.contact-section h2,
.contact-section h3 {
	color: white;
}

/* Footer */
footer {
	padding: 30px 0;
	background-color: #394149;
	color: #c6ab80;
	text-align: center;
}

footer p {
	margin-bottom: 0;
}